<%= render "partials/top_bar" %>

<h1>Your profile</h1>

<div>
    Name: <%= @user.name unless @user.nil? %>
</div>
<div>
    Alias: <%= @user.alias unless @user.nil? %>
</div>
<% unless @address.nil? %>
    <div>
        Address: <%= @address.address %>
        <%= @address.suburb %>
        <%= @address.country %>
        <%= @address.postcode %>
    </div>
<% end %>
<div>
    Email: <%= @user.email unless @user.nil? %>
</div>