<div id="show-profile">
    <% @title = "Profile" %>
    <%= render "partials/top_bar" %>

    <h1>Your profile</h1>

    <div class="flex-container">
        <%= image_tag @user.image if @user.image.attached? %>

        <div class="flex-col">
            <%= link_to('<button type="button">Edit profile</button>'.html_safe, edit_profile_path) %>

            <%= link_to('<button type="button">Create new listing</button>'.html_safe, new_listing_path) %>

            <%= link_to('<button type="button">My listings</button>'.html_safe, my_listings_path) %>
        </div>
    </div>

    <div class="flex-centered">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>   
                    <td>Name:</td>
                    <td><%= @user.name if @user %></td>
                </tr>
                <tr>   
                    <td>Alias:</td>
                    <td><%= @user.alias if @user %></td>
                </tr>
                <tr>   
                    <td>Address:</td>
                    <td><%= @user.address.address if @user.address %></td>
                </tr>
                <tr>   
                    <td></td>
                    <td><%= @user.address.suburb if @user.address %></td>
                </tr>
                <tr>   
                    <td></td>
                    <td><%= @user.address.city if @user.address %></td>
                </tr>
                <tr>   
                    <td></td>
                    <td><%= @user.address.country if @user.address %></td>
                </tr>
                <tr>   
                    <td></td>
                    <td><%= @user.address.postcode if @user.address %></td>
                </tr>
                <tr>   
                    <td>Email:</td>
                    <td><%= @user.email if @user %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>