<%= render "partials/top_bar" %>

<h1>You are about to purchase the following card</h1>

<div>
    <%= image_tag @card_image %>
    <%= number_to_currency(@listing.price / 100.0) %>
</div>

<form method="POST" action="<%= buy_listing_path %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <input type="hidden" name="id" value="<%= @listing.id %>" />
    <input type=submit value="Confirm" />
</form>
