<div id="confirm-new">
    <% @title = "Confirm new" %>
    <%= render "partials/top_bar" %>

    <h1>You are about to list the following card</h1>

    <div class="flex-container">
        <%= image_tag @card.image %>

        <div class="flex-col">
            <form method="POST" action="<%= listings_path %>">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                <p><%= "Please fill in the details for your listing" if @empty_search %></p>
                <div>
                    <label for="condition">Condition</label>
                    <input type="text" name="listing[condition]" id="condition" />
                </div>
                <div>
                    <label for="price">Price</label>
                    <input type="float" name="listing[price]" id="price" />
                </div>
                <input type="hidden" name="listing[card_id]" value=<%= @card.id %> />
                <input type="submit" value="Create listing" class="button" />
            </form>
        </div>
    </div>
</div>