<div id="index">
    <%= render "partials/top_bar" %>

    <h3>Search</h3>

    <div class="filter">
        <%= form_with(url: listings_path, method: "get", local: true) do |form| %>
            <div class="filter">
                <div>
                    <%= form.text_field(:search) %>
                </div>
                <%= form.submit "Search", class: "button" %>
            </div>
        <% end %>
    </div>

    <div class="cards-container">
        <% @listings.each_with_index { |listing, index| %>
            <% img = @cards.find(listing.card_id).image %>
            <%= link_to listing_path(@listings[index].id), action: 'go' do %>
                <div class="card">
                    <%= image_tag img if img.attached? %>
                </div>
            <% end %>
        <% } %>
    </div>
</div>