<%= render "partials/top_bar" %>

<h1><%= @card.name %></h1>

<%= image_tag @card.image if @card.image.attached? %>

<% for listing in @listings %>
    <ul>
        <li><%= "Seller: #{@users.find(listing.user_id).email}, Condition: #{listing.condition}, Price: #{number_to_currency(listing.price / 100.0)}" %></li>
    </ul>
<% end %>

<table>
    <thead>
        <tr>
            <th>Seller</th>
            <th>Condition</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% @listings.where(card_id: @listing.card_id).each { |listing| %>
        <% } %>
    </tbody>
</table>

<% if @listing.user_id == current_user.id %>
    <%= "Do you want to edit this listing?" %>
    <%= form_with(model: @listing, local: true) do |form| %>
        <div>
            <%= form.label :condition %>
            <%= form.text_field :condition %>
        </div>
        <div>
            <%= form.label :price %>
            <%= form.text_field :price %>
        </div>
        <%= form.submit %> 
    <% end %>

    <%= "Do you want to delete this listing?" %>
    <%= form_with(url: listing_path, method: "delete") do %>
        <%= submit_tag("Delete") %>
    <% end %>
<% end %>