<div id="show">
    <%= render "partials/top_bar" %>

    <h1><%= @listing.card.name %></h1>

    <div class="flex-container">
        <%= image_tag @listing.card.image if @listing.card.image.attached? %>

        <div>
            <table>
                <thead>
                    <tr>
                        <th class="table_left-align">Seller</th>
                        <th>Condition</th>
                        <th>Price</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @listings.each { |listing| %>
                        <tr>
                            <td class="table_left-align"><%= listing.user.email %></td>
                            <td><%= listing.condition %></td>
                            <td><%= number_to_currency(listing.price / 100.0) %></td>
                            <td>
                                <% if current_user.nil? || listing.user_id != current_user.id %>
                                    <%= link_to('<button type="button">Buy</button>'.html_safe, buy_listing_path(listing.id)) %>
                                <% end %>
                            </td>
                            <td>
                                <% if current_user && listing.user_id == current_user.id %>
                                    <%= link_to('<button type="button">Edit</button>'.html_safe, edit_listing_path(listing.id)) %>
                                <% end %>
                            </td>
                            <td>
                                <% if current_user && listing.user_id == current_user.id %>
                                    <%= form_with(url: listing_path, method: "delete") do %>
                                        <%= submit_tag "Delete", class: "delete-button"  %>
                                    <% end %>
                                <% end %>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>