<%= render "partials/top_bar" %>

<% listing = @cards.find(@listing.card_id) %>

<h1><%= listing.name %></h1>

<% img = listing.image %>
<%= image_tag img if img.attached? %>

<% for listing in @listings.where(card_id: @listing.card_id) %>
    <ul>
        <li><%= "Seller: #{@users.find(listing.user_id).email}, Condition: #{listing.condition}, Price: #{number_to_currency(listing.price / 100.0)}" %></li>
    </ul>
<% end %>

<% if @listing.user_id == current_user.id %>
    <%= "Do you want to delete this listing?" %>
    <%= form_with(url: listing_path, method: "delete") do %>
        <%= submit_tag("Delete") %>
    <% end %>
<% end %>