<div id="home">
    <% @title = "Home" %>

    <%= render "partials/top_bar" %>

    <h1>MTG-marketplace</h1>
    <div class="flex-container">
        <%= link_to info_path, action: "go" do %>
            <div class="flex-centered">
                <%= image_tag 'peer-to-peer bw.png', class: "img-margin" %> 
                <p>Peer-to-peer</p>
            </div>
        <% end %>
        <%= link_to info_path, action: "go" do %>
            <div class="flex-centered">
                <%= image_tag 'handshake.png', class: "img-margin" %> 
                <p>Easy to buy and sell</p>
            </div>
        <% end %>
        <%= link_to info_path, action: "go" do %>
            <div class="flex-centered">
                <%= image_tag 'lock.png', class: "img-margin" %> 
                <p>Secure</p>
            </div>
        <% end %>
    </div>
</div>